/* Projects */

.projects .project:last-of-type {
    border-bottom-width: 0;
}

.project {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem 0;
    border-bottom: 2px solid var(--light-background);

    .live {
        background-color: var(--highlight);
        border: 2px solid var(--highlight);

        &:hover {
            border: 2px solid var(--hightlight-hover);
            background: var(--hightlight-hover);
        }
    }

    a {
        display: flex;
        align-items: center;
        margin-bottom: 0.25rem;
        border-width: 0;

        &:hover h3 {
            text-decoration: underline;
        }

        &.button {
            width: 75px;
            justify-content: center;
            margin-left: 0.5rem;
            border-width: 2px;
        }
    }

    h3 {
        font-size: 1.2rem;
        margin: 0;
    }

    .description {
        font-size: 1.1rem;
        color: var(--light-font-color);
    }
}

@media screen and (min-width: 800px) {
    .project {
        border-bottom-width: 0;

        h3 {
            font-size: 1.3rem;
        }

        .description {
            font-size: 1rem;
        }
    }
}
