@media (prefers-color-scheme: dark) {
    :root {
        --color-mode: dark;
    }

    :root:not([data-user-color-scheme]) {
        --h1-color: #e4edf1;
        --font-color: #e4edf1;
        --heading-color: #f4bc46;
        --dark-font-color: #ced4da;
        --background: #0f1f2c;
        --medium-font-color: #dee2e6;
        --light-font-color: #868e96;
        --light-background: #152B3D;
        --light-background-hover: #1A354C;
        --code-background-color: #152B3D;
        --border: #326984;
        --link-color: #5688C7;
        --link-color-darker: #477EC2;
        --link-hover-color: #6694CC;
        --navbar-color: #1d1d1d;
        --blockquote: #2b2b2b;
        --blockquote-left: #191919;
        --transparent-text: rgba(255, 255, 255, 0.7);
        --transparent-bg: rgba(0, 0, 0, 0.2);
        --light-transparent-bg: rgba(255, 255, 255, 0.05);
        --highlight: #d44729;
        --hightlight-hover: #BC4024;
    }
}

[data-user-color-scheme='dark'] {
    --h1-color: #e4edf1;
    --font-color: #e4edf1;
    --heading-color: #f4bc46;
    --dark-font-color: #ced4da;
    --background: #0f1f2c;
    --medium-font-color: #dee2e6;
    --light-font-color: #868e96;
    --light-background: #152B3D;
    --light-background-hover: #1A354C;
    --code-background-color: #152B3D;
    --border: #326984;
    --link-color: #5688C7;
    --link-color-darker: #477EC2;
    --link-hover-color: #6694CC;
    --navbar-color: #1d1d1d;
    --blockquote: #2b2b2b;
    --blockquote-left: #191919;
    --transparent-text: rgba(255, 255, 255, 0.7);
    --transparent-bg: rgba(0, 0, 0, 0.2);
    --light-transparent-bg: rgba(255, 255, 255, 0.05);
    --highlight: #d44729;
    --hightlight-hover: #BC4024;
}
