<footer class="footer flex">
    <section class="container">
        <nav class="footer-links">
            <!-- Social Icons -->
            {{ range $name, $path := $.Param "socialOptions" }}
            {{ if (and $path (ne $name "email")) }}
            <a href="{{ $path | safeURL }}" target="_blank" rel="noreferrer" title="{{ $name }}"
               aria-label="{{ $name }}">
                {{ partial (print "svgs/social/" $name ".svg") (dict "width" 25 "height" 25) }}
                <span style="padding-left: 0.5rem">{{$name}}</span>
            </a>
            {{ end }}
            {{ if (and $path (eq $name "email")) }}
            <a href="mailto:{{ $path | safeURL }}" target="_blank" rel="noreferrer" title="{{ $path }}"
               aria-label="{{ $name }}">
                {{ partial (print "svgs/social/" $name ".svg") (dict "width" 25 "height" 25) }}
                <span style="padding-left: 0.5rem">{{$name}}</span>
            </a>
            {{ end }}
            {{ end }}

            <!-- RSS -->
            {{ range .Site.Menus.footer }}
            <a href="{{ .URL | relURL }}">{{ .Name }}</a>
            {{ end }}
        </nav>
    </section>
    {{ $features := resources.Get "js/features.js" | minify | fingerprint }}
    <script async src="{{ $features.RelPermalink }}"></script>
</footer>
